

body {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 150%;
  color: rgb(204, 204, 204);
  font-family: 'Dosis', sans-serif;
  background: #080808;
}

.wrapper {
  background-image: url(images/sugarpillbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 400px;
}


nav {
  margin-bottom: 50px;

}
nav:hover{
  color: rgb(247, 8, 175);
}
.navbar-text {
  font-size: 14px;
}

a {
  transition: 0.5s;
}


a:visited {
  color: rgb(179, 179, 182);

  }
a:focus {
    color: rgb(250, 9, 49);
  }
a:active {
    color: Blue;
  }
a:hover {
    color: rgb(247, 8, 175);

  }

header {
  background: #d21034;
 
}

h1 {
  /* Box-model */
  padding: 20px 0;

  /* Positioning */
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;

  /* Typography */
  color: rgb(247, 238, 244);
  text-align: center;

  /* Visual */
  background: #333;
}

h2 {
  font-size: 24px;
}

a {
  color: #837d7e;
}



#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#bio-image {
  width: 250px;
  height: 300px;
  margin-right: 20px;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  border-top: 1px solid;
  border-top-color: rgb(66, 66, 66);
}